@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #634652;
  font-weight: thin;
}

code {
  font-family: "Open Sans", sans-serif;
}

.App {
  background-color: #e6dbd3;
  margin: 20px auto;
  width: 90%;
  border-radius: 10px;
  max-width: 700px;
  padding-bottom: 20px;
}

.app-title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background-color: #b0a398;
  border-radius: 10px 10px 20px 20px;
}

.navbar h1 {
  margin: 10px 0;
}

.book-list {
  margin: 20px;
}

.book-list ul {
  list-style: none;
  padding: 0;
}

.book-list li {
  background-color: #b0a398;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 10px;
  margin-bottom: 5px;
}

.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.book-list .title {
  font-weight: light;
  font-size: 1.4em;
}

.book-list .author {
  font-size: 0.9em;
}

.empty {
  text-align: center;
  margin: 20px;
}

form {
  padding: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  border: 0;
  margin: 6px 0;
  background: #634652;
  font-size: 1em;
  font-weight: light;
}

::placeholder {
  color: #fff;
}

input[type="submit"] {
  margin: 20px auto;
  background: #b0a398;
  padding: 16px 20px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  border: 0;
  cursor: pointer;
  font-weight: thin;
  font-size: 20px;
  display: flex;
}
